.content-custom {
  width: calc(100% - 32px);
  border-radius: 10px;
  height: auto;
  min-height: 500px;
  margin-left: 32px;
  background-color: #FBFBFB;
  box-shadow: 0 3px 6px rgba(255, 255, 255, 0.6);
  color: black;
  padding: 16px;
}

li {
  color: black;
}