.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.ReactModal__Content {
  background-color: rgb(49, 49, 49) !important;
  border: 1px solid rgba(49, 49, 49, 1) !important;
  box-shadow: 0 3px 6px rgb(49, 49, 49);
}

button {
  padding: 8px;
  width: 55px;
  border-radius: 30px;
  transition: all 1s;
  background: #FBFBFB;
  margin-bottom: 16px;
  min-height: 56px;
  box-shadow: 0 3px 6px rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
button:hover {
  width: 100%;
}
button span svg {
  fill: black;
  color:black;
  width: 20px;
  height: 20px;
}
button p {
  display: none;
  font-size: 12px;
  font-weight: 500;
  transition: all 1s;
}
button:hover p {
  display: block;
}
button:hover span {
  display: none;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
label {
  margin-top: 16px;
}
input {
  background-color: transparent;
  border: 1px solid #c471ed;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
}
.input-red {
  border: 1px solid #f64f59;
}
p.error {
  color: #f64f59;
  font-size: 12px;
}
button[type=submit] {
  margin-left: auto;
  margin-top: 24px;
  color: white;
  background-color: #12c2e9;
  width: fit-content;
  height: auto;
  padding: 8px 24px;
  box-shadow: 0 3px 6px rgba(255, 255, 255, 0.1);
}
button[type=submit]:hover {
  background-color: #37daff;
}